<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name = "CloudBoxService.CloudBoxService">
        <endpoint address = "http://localhost:8080/CloudBoxService"
        binding = "basicHttpBinding"
        contract = "CloudBoxService.ICloudBoxService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>