/* Containers styles for main page */
.header {
    background-size: cover;
    height: 80vh;
    opacity: 0.5;
    background: url('../../Images/cloud_big_image.jpg') fixed no-repeat center;
    background-size: 100%;
    color: white;
    text-align: center;
}

.login-form {
    top: 30%;
    text-align: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}