<table class="table table-hover table-responsive">
    <tr>
        <td>
            <p id="linkToPrevDirectory" onclick="linkToPrevClicked()">...</p>
        </td>
    </tr>
    @foreach (var directory in ViewBag.Directories)
    {
        <tr>
            <td id="@directory" onclick="$('#currentPath').append('\\@directory'); onFolderClicked();">@directory</td>
        </tr>
    }
    @foreach (var file in ViewBag.Files)
    {
        <tr>
            <td><a href="~/Files/@ViewBag.DirectoriesAndFilesRelativePath/@file">@file</a></td>
        </tr>
    }
</table>