<table class="table table-hover table-responsive">
    <tr>
        <th colspan="3">Options in development</th>
    </tr>
    @foreach (var directory in ViewBag.Directories)
    {
        <tr>
            <td id="@directory" onclick="$('#currentPath').append('\\@directory')">@directory</td>
        </tr>
    }
    @foreach (var file in ViewBag.Files)
    {
        <tr>
            <td><a href="~/Files/@ViewBag.DirectoriesAndFilesRelativePath/@file">@file</a></td>
        </tr>
    }
</table>