<!--This page will return all files and directories of current user by his name-->
@{
    ViewBag.Title = "View Storage";
}

<p id="currentPath">@ViewBag.CurrentPath</p>
<button id="linkToPrevDirectory" class="btn btn-default" onclick="linkToPrevClicked()">...</button>

<div id="resultTable"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#resultTable").load("@Url.Action("DirectoriesAndFilesSummary","Account", new {path = ViewBag.CurrentPath})");
    });

    function linkToPrevClicked() {
        if ($("#currentPath").text() == '@User.Identity.Name') {

        } else {
            var currentPath = $("#currentPath").text();
            var newPath = currentPath.substring(0, currentPath.lastIndexOf('\\'));
            $("#currentPath").text(newPath);
        }
    };
</script>