<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICloudService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49545/CloudService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICloudService" contract="ServiceReference1.ICloudService"
                name="BasicHttpBinding_ICloudService" />
        </client>
    </system.serviceModel>
</configuration>